<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="AppEnv" content="%MODE%" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-control" content="no-cache" />
  <title>Vite App</title>
  <link rel="shortcut icon" href="//staticadmcdn.tcy365.com/uc/common/images/favicon.ico" />
  <link rel="stylesheet" href="//staticadmcdn.tcy365.com/cdn/element-plus/2.9.5/skin.css?t=20231017" />
  <script src="//staticadmcdn.tcy365.com/cdn/vue/3.4.21/vue.global.prod.js"></script>
  <script src="//staticadmcdn.tcy365.com/cdn/vue-demi/0.14.5/index.iife.js"></script>
  <script src="//staticadmcdn.tcy365.com/cdn/element-plus/2.9.5/index.full.min.js"></script>
  <script src="//staticadmcdn.tcy365.com/cdn/icons-vue/2.0.6/index.iife.min.js"></script>
  <!-- <script src="https://static.tcy365.com/ctarea/cdn/area.js"></script> -->
</head>

<body>
  <div id="app"></div>

  <script type="module" src="./main.ts"></script>
</body>

</html>